/* Colors */
$natural100: #fffffe;
$natural200: #F2F2F1;
$natural300: #E5E5E5;
$natural400: #CCCCCB;
$natural500: #999998;
$natural600: #666666;
$natural700: #4D4D4D;
$natural800: #333333;
$natural900: #1A1A1A;
$red: #F42C04;
$violet300: #9C7DFF;
$violet400: #8863FF;
$violet500: #7248FC;