/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s ease all;
}
.hidden{
    display: none!important;
}
@import './typography', './shadows','./buttons.scss';

@keyframes mobileGallerySlideLeftTop {
    95%{
        margin: 0px 0px 96px -1600px;
        width: 150%;
        opacity: 1;
    }
    100%{
        margin: 0px 0px 96px -1600px;
        width: 150%;
        opacity: 0;
    }
}
@keyframes mobileGallerySlideLeftBottom {
    95%{
        margin: 96px 0px 0px -1600px;
        width: 150%;
        opacity: 1;
    }
    100%{
        margin: 0px 0px 96px -1600px;
        width: 150%;
        opacity: 0;
    }
}
@keyframes mobileGallerySlideRight {
    95%{
        margin: 64px -1600px 0px 0px;
        width: 150%;
        opacity: 1;
    }
    100%{
        margin: 0px -1600px 0px 0px;
        width: 150%;
        opacity: 0;
    }

}
@keyframes fadeIn {
    100%{
        opacity: 1;
    }

}
@keyframes fadeOut {
    99%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        display: none !important;
    }

}
@keyframes loader {
    100%{
        rotate: 360deg;
    }
}

main{
    min-height: calc(100vh - 79.1965px);
    padding: 32px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .form-wrapper{
        animation: fadeIn 1s linear 2s 1 normal forwards;
        opacity: 0;
        display: block;
        width: 100%;
        h2{
            margin-bottom: 32px;
        }
        form{
            margin-bottom: 20px;
            .info-wrapper{
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                label{
                    display: flex;
                    gap: 2px;
                    margin-bottom: 4px;
                    font-size: 14px;
                    font-weight: 200;
                    .note{
                        font-size: 8px;
                    }
                }
                input[type=text]{
                    font-size: 18px;
                    font-weight: 400;
                    padding: 2px 8px;
                    border: 1px solid $natural200;
                    border-radius: 4px;
                    &:focus{
                        border: 1px solid $natural400;
                        outline: none
                    }
                }
                #daysWrapper{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;
                    a{
                        border: 1px solid $natural200;
                        height: 30.5px;
                        width: 30.5px;
                        i{
                            color: $natural100;
                        }
                        &:hover{
                            transform: translateY(-1px);
                            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12);
                            i{
                                color: $natural900;
                            }
                        }
                        &:active{
                            border: 1px solid $natural900;
                            i{
                                color: $natural100;
                            }
                        }
                    }
                    .disabled{
                        background: $natural400;
                        cursor: default;
                        &:hover{
                            transform: unset;
                            box-shadow: none;
                            i{
                                color: $natural100;
                            }
                        }
                        &:active{
                            border: none;
                            i{
                                color: $natural100;
                            }
                        }
                    }
                    input[type=text]{
                        width: calc(100% - 69px);
                        text-align: center;
                        &:disabled{
                            background-color: $natural100;
                            color: $natural900;
                        }
                    }
                }
                input[type=range]{
                    cursor: pointer;
                    //For later
                }
                select{
                    font-size: 18px;
                    font-weight: 400;
                    padding: 2px 8px;
                    border: 1px solid $natural200;
                    border-radius: 4px;
                    appearance: none;
                    position: relative;
                    &:focus{
                        border: 1px solid $natural400;
                        outline: none
                    }
                }
                input[type=checkbox], input[type=radio]{
                    display: none;
                }
                input[type=checkbox] + label, input[type=radio] + label{
                    font-size: 16px;
                    font-weight: 400;
                    padding: 2px 8px;
                    border: 1px solid $natural800;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                input[type=checkbox]:checked + label, input[type=radio]:checked + label{
                    background: $natural800;
                    color: $natural100;
                }
            }
            .radioTypes{
                #activitiesTypes, #dinnerBudget, #dinnerType{
                    display: none;
                    margin-top: -16px;
                }
                #dinnerType, #dinnerBudget{
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    gap: 0;
                    margin-bottom: 24px;
                    .info-wrapper{
                        flex: 100%;
                        margin: 0;
                        &:nth-child(2){
                            label{
                                border-left: none;
                                border-right: none;
                            }
                        }
                        &:nth-child(1){
                            input[type=checkbox] + label, input[type=radio] + label{
                                border-radius: 4px 0 0 4px;
                            }
                            input[type=checkbox]:checked + label{
                                border-right-color: $natural100;
                            }
                        }
                        &:nth-child(3){
                            input[type=checkbox] + label, input[type=radio] + label{
                                border-radius: 0 4px 4px 0;
                            }
                            input[type=checkbox]:checked + label{
                                border-left-color: $natural100;
                            }
                        }
                    }
                }
                #activitiesTypes{
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 0;
                    .info-wrapper{
                        flex: 50%;
                        margin: 0;
                        &:nth-child(even){
                            .labelRadio{
                                border-left: 0px;
                            }
                        }
                        &:nth-child(odd){
                            input[type=checkbox]:checked + label{
                                border-right-color: $natural100;
                            }
                        }
                        &:nth-child(n + 3){
                            .labelRadio{
                                border-top: 0px;
                            }
                        }
                        &:nth-child(-n + 4){
                            input[type=checkbox]:checked + label{
                                border-bottom-color: $natural100;
                            }
                        }
                        &:nth-child(1){
                            input[type=checkbox] + label{
                                border-radius: 4px 0 0 0;
                            }
                        }
                        &:nth-child(2){
                            input[type=checkbox] + label{
                                border-radius: 0 4px 0 0;
                            }
                        }
                        &:nth-child(5){
                            input[type=checkbox] + label{
                                border-radius: 0 0 0 4px;
                            }
                        }
                        &:nth-child(6){
                            input[type=checkbox] + label{
                                border-radius: 0 0 4px 0;
                            }
                        }
                        .labelRadio{
                            margin: 0;
                        }
                    }
                }
            }
        }
        a{
            width: 100%;
        }
        .desktop-img{
            display: none;
        }
    }
    .resultsWrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        #loader{
            text-align: center;
            i{
                animation: loader 2s linear 0s infinite normal;
                font-size: 32px;
                padding: 16px;
            }
        }
    }
    .mobile-gallery-wrapper{
        position: absolute;
        height: 100vh;
        width: calc(100vw - 48px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            max-width: 400px;
            border-radius: 20px;
            &:nth-child(1){
                margin: 0px 0px -32px -160px;
                animation: mobileGallerySlideLeftTop 3s linear 0.5s 1 normal forwards;
            }
            &:nth-child(2){
                margin: 0px -160px 0px 0px;
                animation: mobileGallerySlideRight 3s linear 0.5s 1 normal forwards;
            }
            &:nth-child(3){
                margin: -32px 0px 0px -160px;
                animation: mobileGallerySlideLeftBottom 3s linear 0.5s 1 normal forwards;
            }
        }
    }
    #result{
        a{
            display: inline;
        }
        h2{
            margin-bottom: 16px;
        }
        p{
            margin-bottom: 8px;
        }
    }
}
@media (min-width: 568px) {
    main{
        .form-wrapper{
            padding: 32px;
            border: 1px solid $natural200;
            border-radius: 16px;
            width: 384px;
        }
    }
}
@media (min-width: 1200px) {
    main{
        display: flex;
        align-items: center;
        .form-wrapper{
            animation: fadeIn 1s linear 0.25s 1 normal forwards;
            margin: 0 auto;
            .desktop-img{
                display: block;
                position: absolute;
                max-height: 256px;
                border-radius: 16px;
                &:nth-child(4){
                    left: 10%;
                    top: 50%;
                    transform: translate(-10%, -50%);
                    z-index: 2;
                }
                &:nth-child(5){
                    left: 5%;
                    top: 35%;
                    transform: translate(-5%, -35%);
                }
                &:nth-child(6){
                    left: 15%;
                    top: 65%;
                    transform: translate(-15%, -65%);
                }
                &:nth-child(7){
                    right: 10%;
                    top: 50%;
                    transform: translate(10%, -50%);
                    z-index: 2;
                }
                &:nth-child(9){
                    right: 5%;
                    top: 35%;
                    transform: translate(5%, -35%);

                }
                &:nth-child(8){
                    right: 15%;
                    top: 65%;
                    transform: translate(15%, -65%);
                }
            }
        }
        .mobile-gallery-wrapper{
            display: none;
        }
    }
}
@media (min-width: 1920px) {
    main{
        .form-wrapper{
            .desktop-img{
                max-height: 384px;
                border-radius: 32px;
            }
        }
    }
}
footer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    background: $natural900;
    padding: 16px;
    width: 100%;
    p{
        color: $natural500;
    }
    a{
        font-size: 18px;
        color: $natural100;
        display: inline-flex;
        &:nth-child(1){
            margin-right: 1rem;
        }
        i{
            margin-left: 4px;
            color: $natural100;
        }
    }
}
.fadeOut{
    animation: fadeOut 0.5s linear 0s 1 normal forwards;
}