/* General */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.hidden {
  display: none !important;
}

/* Colors */
/* Satoshi Font Family */
@font-face {
  font-family: 'Satoshi';
  src: url(../typography/Satoshi/Fonts/OTF/Satoshi-Bold.otf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url(../typography/Satoshi/Fonts/OTF/Satoshi-Medium.otf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url(../typography/Satoshi/Fonts/OTF/Satoshi-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url(../typography/Satoshi/Fonts/OTF/Satoshi-Light.otf);
  font-weight: 200;
  font-style: normal;
}

/* Inter Font Family*/
@font-face {
  font-family: 'Inter';
  src: url(../typography/Inter/static/Inter-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../typography/Inter/static/Inter-bold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../typography/Inter/static/Inter-Medium.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../typography/Inter/static/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

/* General */
* {
  font-family: 'Satoshi';
  color: #333333;
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter';
  line-height: 110%;
  font-weight: 400;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h1.medium, h2.medium, h3.medium, h4.medium, h5.medium {
  font-weight: 600;
}

h1.bold, h2.bold, h3.bold, h4.bold, h5.bold {
  font-weight: 800;
}

h1.black, h2.black, h3.black, h4.black, h5.black {
  font-weight: 900;
}

p {
  font-weight: 400;
  line-height: 110%;
}

p.xl {
  font-size: 20px;
}

p.l {
  font-size: 18px;
}

p.m {
  font-size: 16px;
}

p.s {
  font-size: 14px;
}

p.xs {
  font-size: 12px;
}

p.light {
  font-weight: 200;
}

p.medium {
  font-weight: 600;
}

p.bold {
  font-weight: 800;
}

p.uppercase {
  letter-spacing: 5%;
  text-transform: uppercase;
}

.shadow_1 {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08), 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 1px rgba(0, 0, 0, 0.12);
}

.shadow_2 {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12);
}

.shadow_3 {
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.shadow_4 {
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.12), 0px 16px 24px rgba(0, 0, 0, 0.12), 0px 16px 32px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.12), 0px 16px 24px rgba(0, 0, 0, 0.12), 0px 16px 32px rgba(0, 0, 0, 0.12);
}

/* Colors */
a {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  line-height: 110%;
  font-weight: 800;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.btn-primary {
  background: #333333;
  color: #fffffe;
  border: 1.5px solid #333333;
}

.btn-primary:hover {
  background: #fffffe;
  color: #333333;
  -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.12);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.btn-primary:active {
  background: #1A1A1A;
  border-color: #1A1A1A;
  color: #fffffe;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-secondary {
  background: #fffffe;
  color: #333333;
}

.btn-small {
  padding: 4px 8px;
  gap: 2px;
  font-size: 14px;
}

.btn-medium {
  padding: 6px 12px;
  gap: 4px;
  font-size: 16px;
}

.btn-large {
  padding: 8px 16px;
  gap: 4px;
  font-size: 18px;
}

@-webkit-keyframes mobileGallerySlideLeftTop {
  95% {
    margin: 0px 0px 96px -1600px;
    width: 150%;
    opacity: 1;
  }
  100% {
    margin: 0px 0px 96px -1600px;
    width: 150%;
    opacity: 0;
  }
}

@keyframes mobileGallerySlideLeftTop {
  95% {
    margin: 0px 0px 96px -1600px;
    width: 150%;
    opacity: 1;
  }
  100% {
    margin: 0px 0px 96px -1600px;
    width: 150%;
    opacity: 0;
  }
}

@-webkit-keyframes mobileGallerySlideLeftBottom {
  95% {
    margin: 96px 0px 0px -1600px;
    width: 150%;
    opacity: 1;
  }
  100% {
    margin: 0px 0px 96px -1600px;
    width: 150%;
    opacity: 0;
  }
}

@keyframes mobileGallerySlideLeftBottom {
  95% {
    margin: 96px 0px 0px -1600px;
    width: 150%;
    opacity: 1;
  }
  100% {
    margin: 0px 0px 96px -1600px;
    width: 150%;
    opacity: 0;
  }
}

@-webkit-keyframes mobileGallerySlideRight {
  95% {
    margin: 64px -1600px 0px 0px;
    width: 150%;
    opacity: 1;
  }
  100% {
    margin: 0px -1600px 0px 0px;
    width: 150%;
    opacity: 0;
  }
}

@keyframes mobileGallerySlideRight {
  95% {
    margin: 64px -1600px 0px 0px;
    width: 150%;
    opacity: 1;
  }
  100% {
    margin: 0px -1600px 0px 0px;
    width: 150%;
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes fadeOut {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

@-webkit-keyframes loader {
  100% {
    rotate: 360deg;
  }
}

@keyframes loader {
  100% {
    rotate: 360deg;
  }
}

main {
  min-height: calc(100vh - 79.1965px);
  padding: 32px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .form-wrapper {
  -webkit-animation: fadeIn 1s linear 1.5s 1 normal forwards;
          animation: fadeIn 1s linear 1.5s 1 normal forwards;
  opacity: 0;
  display: block;
  width: 100%;
}

main .form-wrapper h2 {
  margin-bottom: 32px;
}

main .form-wrapper form {
  margin-bottom: 20px;
}

main .form-wrapper form .info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

main .form-wrapper form .info-wrapper label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 200;
}

main .form-wrapper form .info-wrapper label .note {
  font-size: 8px;
}

main .form-wrapper form .info-wrapper input[type=text] {
  font-size: 18px;
  font-weight: 400;
  padding: 2px 8px;
  border: 1px solid #F2F2F1;
  border-radius: 4px;
}

main .form-wrapper form .info-wrapper input[type=text]:focus {
  border: 1px solid #CCCCCB;
  outline: none;
}

main .form-wrapper form .info-wrapper #daysWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

main .form-wrapper form .info-wrapper #daysWrapper a {
  border: 1px solid #F2F2F1;
  height: 30.5px;
  width: 30.5px;
}

main .form-wrapper form .info-wrapper #daysWrapper a i {
  color: #fffffe;
}

main .form-wrapper form .info-wrapper #daysWrapper a:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12);
}

main .form-wrapper form .info-wrapper #daysWrapper a:hover i {
  color: #1A1A1A;
}

main .form-wrapper form .info-wrapper #daysWrapper a:active {
  border: 1px solid #1A1A1A;
}

main .form-wrapper form .info-wrapper #daysWrapper a:active i {
  color: #fffffe;
}

main .form-wrapper form .info-wrapper #daysWrapper .disabled {
  background: #CCCCCB;
  cursor: default;
}

main .form-wrapper form .info-wrapper #daysWrapper .disabled:hover {
  -webkit-transform: unset;
          transform: unset;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main .form-wrapper form .info-wrapper #daysWrapper .disabled:hover i {
  color: #fffffe;
}

main .form-wrapper form .info-wrapper #daysWrapper .disabled:active {
  border: none;
}

main .form-wrapper form .info-wrapper #daysWrapper .disabled:active i {
  color: #fffffe;
}

main .form-wrapper form .info-wrapper #daysWrapper input[type=text] {
  width: calc(100% - 69px);
  text-align: center;
}

main .form-wrapper form .info-wrapper #daysWrapper input[type=text]:disabled {
  background-color: #fffffe;
  color: #1A1A1A;
}

main .form-wrapper form .info-wrapper input[type=range] {
  cursor: pointer;
}

main .form-wrapper form .info-wrapper select {
  font-size: 18px;
  font-weight: 400;
  padding: 2px 8px;
  border: 1px solid #F2F2F1;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  background: #fffffe;
}

main .form-wrapper form .info-wrapper select:focus {
  border: 1px solid #CCCCCB;
  outline: none;
  background: #fffffe;
}

main .form-wrapper form .info-wrapper input[type=checkbox], main .form-wrapper form .info-wrapper input[type=radio] {
  display: none;
}

main .form-wrapper form .info-wrapper input[type=checkbox] + label, main .form-wrapper form .info-wrapper input[type=radio] + label {
  font-size: 16px;
  font-weight: 400;
  padding: 2px 8px;
  border: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .form-wrapper form .info-wrapper input[type=checkbox]:checked + label, main .form-wrapper form .info-wrapper input[type=radio]:checked + label {
  background: #333333;
  color: #fffffe;
}

main .form-wrapper form .radioTypes #activitiesTypes, main .form-wrapper form .radioTypes #dinnerBudget, main .form-wrapper form .radioTypes #dinnerType {
  display: none;
  margin-top: -16px;
}

main .form-wrapper form .radioTypes #dinnerType, main .form-wrapper form .radioTypes #dinnerBudget {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
  margin-bottom: 24px;
}

main .form-wrapper form .radioTypes #dinnerType .info-wrapper, main .form-wrapper form .radioTypes #dinnerBudget .info-wrapper {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 0;
}

main .form-wrapper form .radioTypes #dinnerType .info-wrapper:nth-child(2) label, main .form-wrapper form .radioTypes #dinnerBudget .info-wrapper:nth-child(2) label {
  border-left: none;
  border-right: none;
}

main .form-wrapper form .radioTypes #dinnerType .info-wrapper:nth-child(1) input[type=checkbox] + label, main .form-wrapper form .radioTypes #dinnerType .info-wrapper:nth-child(1) input[type=radio] + label, main .form-wrapper form .radioTypes #dinnerBudget .info-wrapper:nth-child(1) input[type=checkbox] + label, main .form-wrapper form .radioTypes #dinnerBudget .info-wrapper:nth-child(1) input[type=radio] + label {
  border-radius: 4px 0 0 4px;
}

main .form-wrapper form .radioTypes #dinnerType .info-wrapper:nth-child(1) input[type=checkbox]:checked + label, main .form-wrapper form .radioTypes #dinnerBudget .info-wrapper:nth-child(1) input[type=checkbox]:checked + label {
  border-right-color: #fffffe;
}

main .form-wrapper form .radioTypes #dinnerType .info-wrapper:nth-child(3) input[type=checkbox] + label, main .form-wrapper form .radioTypes #dinnerType .info-wrapper:nth-child(3) input[type=radio] + label, main .form-wrapper form .radioTypes #dinnerBudget .info-wrapper:nth-child(3) input[type=checkbox] + label, main .form-wrapper form .radioTypes #dinnerBudget .info-wrapper:nth-child(3) input[type=radio] + label {
  border-radius: 0 4px 4px 0;
}

main .form-wrapper form .radioTypes #dinnerType .info-wrapper:nth-child(3) input[type=checkbox]:checked + label, main .form-wrapper form .radioTypes #dinnerBudget .info-wrapper:nth-child(3) input[type=checkbox]:checked + label {
  border-left-color: #fffffe;
}

main .form-wrapper form .radioTypes #activitiesTypes {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0;
}

main .form-wrapper form .radioTypes #activitiesTypes .info-wrapper {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin: 0;
}

main .form-wrapper form .radioTypes #activitiesTypes .info-wrapper:nth-child(even) .labelRadio {
  border-left: 0px;
}

main .form-wrapper form .radioTypes #activitiesTypes .info-wrapper:nth-child(odd) input[type=checkbox]:checked + label {
  border-right-color: #fffffe;
}

main .form-wrapper form .radioTypes #activitiesTypes .info-wrapper:nth-child(n + 3) .labelRadio {
  border-top: 0px;
}

main .form-wrapper form .radioTypes #activitiesTypes .info-wrapper:nth-child(-n + 4) input[type=checkbox]:checked + label {
  border-bottom-color: #fffffe;
}

main .form-wrapper form .radioTypes #activitiesTypes .info-wrapper:nth-child(1) input[type=checkbox] + label {
  border-radius: 4px 0 0 0;
}

main .form-wrapper form .radioTypes #activitiesTypes .info-wrapper:nth-child(2) input[type=checkbox] + label {
  border-radius: 0 4px 0 0;
}

main .form-wrapper form .radioTypes #activitiesTypes .info-wrapper:nth-child(5) input[type=checkbox] + label {
  border-radius: 0 0 0 4px;
}

main .form-wrapper form .radioTypes #activitiesTypes .info-wrapper:nth-child(6) input[type=checkbox] + label {
  border-radius: 0 0 4px 0;
}

main .form-wrapper form .radioTypes #activitiesTypes .info-wrapper .labelRadio {
  margin: 0;
}

main .form-wrapper a {
  width: 100%;
}

main .form-wrapper .desktop-img {
  display: none;
}

main .resultsWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .resultsWrapper #loader {
  text-align: center;
}

main .resultsWrapper #loader i {
  -webkit-animation: loader 2s linear 0s infinite normal;
          animation: loader 2s linear 0s infinite normal;
  font-size: 32px;
  padding: 16px;
}

main .mobile-gallery-wrapper {
  position: absolute;
  height: 100vh;
  width: calc(100vw - 48px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .mobile-gallery-wrapper img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

main .mobile-gallery-wrapper img:nth-child(1) {
  margin: 0px 0px -32px -160px;
  -webkit-animation: mobileGallerySlideLeftTop 2s ease-in 0.5s 1 normal forwards;
          animation: mobileGallerySlideLeftTop 2s ease-in 0.5s 1 normal forwards;
}

main .mobile-gallery-wrapper img:nth-child(2) {
  margin: 0px -160px 0px 0px;
  -webkit-animation: mobileGallerySlideRight 2s ease-in 0.5s 1 normal forwards;
          animation: mobileGallerySlideRight 2s ease-in 0.5s 1 normal forwards;
}

main .mobile-gallery-wrapper img:nth-child(3) {
  margin: -32px 0px 0px -160px;
  -webkit-animation: mobileGallerySlideLeftBottom 2s ease-in 0.5s 1 normal forwards;
          animation: mobileGallerySlideLeftBottom 2s ease-in 0.5s 1 normal forwards;
}

main #result {
  opacity: 0;
}

main #result a {
  display: inline;
}

main #result h1 {
  display: none;
}

main #result h2 {
  font-family: 'Satoshi';
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 800;
}

main #result h2:nth-child(n+4) {
  margin-top: 16px;
}

main #result h2.bold {
  font-family: 'Inter';
  font-size: 42px;
  margin-bottom: 16px;
}

main #result p {
  margin-bottom: 8px;
}

main #result .btn-primary {
  margin-top: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

main #result.fadeIn {
  -webkit-animation: fadeIn 1s linear 0s 1 normal forwards;
          animation: fadeIn 1s linear 0s 1 normal forwards;
}

@media (min-width: 568px) {
  main .form-wrapper {
    padding: 32px;
    border: 1px solid #F2F2F1;
    border-radius: 16px;
    width: 384px;
  }
  main .resultsWrapper {
    width: 384px;
  }
}

@media (min-width: 1200px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .form-wrapper {
    -webkit-animation: fadeIn 1s linear 0.25s 1 normal forwards;
            animation: fadeIn 1s linear 0.25s 1 normal forwards;
    margin: 0 auto;
  }
  main .form-wrapper .desktop-img {
    display: block;
    position: absolute;
    max-height: 256px;
    border-radius: 16px;
  }
  main .form-wrapper .desktop-img:nth-child(4) {
    left: 10%;
    top: 50%;
    -webkit-transform: translate(-10%, -50%);
            transform: translate(-10%, -50%);
    z-index: 2;
  }
  main .form-wrapper .desktop-img:nth-child(5) {
    left: 5%;
    top: 35%;
    -webkit-transform: translate(-5%, -35%);
            transform: translate(-5%, -35%);
  }
  main .form-wrapper .desktop-img:nth-child(6) {
    left: 15%;
    top: 65%;
    -webkit-transform: translate(-15%, -65%);
            transform: translate(-15%, -65%);
  }
  main .form-wrapper .desktop-img:nth-child(7) {
    right: 10%;
    top: 50%;
    -webkit-transform: translate(10%, -50%);
            transform: translate(10%, -50%);
    z-index: 2;
  }
  main .form-wrapper .desktop-img:nth-child(9) {
    right: 5%;
    top: 35%;
    -webkit-transform: translate(5%, -35%);
            transform: translate(5%, -35%);
  }
  main .form-wrapper .desktop-img:nth-child(8) {
    right: 15%;
    top: 65%;
    -webkit-transform: translate(15%, -65%);
            transform: translate(15%, -65%);
  }
  main .resultsWrapper {
    width: 640px;
  }
  main .mobile-gallery-wrapper {
    display: none;
  }
}

@media (min-width: 1920px) {
  main .form-wrapper .desktop-img {
    max-height: 384px;
    border-radius: 32px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1A1A1A;
  padding: 16px;
  width: 100%;
}

footer p {
  color: #999998;
}

footer a {
  font-size: 18px;
  color: #fffffe;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer a:nth-child(1) {
  margin-right: 1rem;
}

footer a i {
  margin-left: 4px;
  color: #fffffe;
}

.fadeOut {
  -webkit-animation: fadeOut 0.5s linear 0s 1 normal forwards;
          animation: fadeOut 0.5s linear 0s 1 normal forwards;
}
/*# sourceMappingURL=styles.css.map */